<div class="container-fluid pt-5 pb-3" id="portfolio">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Gallery</h1>
            <h1 class="position-absolute text-uppercase text-primary">My Portfolio</h1>
        </div>

<div class="row portfolio-container">
    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
        <div class="position-relative overflow-hidden mb-2">
            <img class="img-fluid rounded w-100" src="/assets/img/portfolio1.png" alt="">
            <div class="portfolio-btn bg-secondary opacity-50 d-flex align-items-center justify-content-center">
                <a href="http://divinehealers.org/" data-lightbox="portfolio">
                    <fa-icon [icon]="faPlus" class="text-white opacity-25" style="font-size: 50px;"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
        <div class="position-relative overflow-hidden mb-2">
            <img class="img-fluid rounded w-100" src="/assets/img/portfolio2.png" alt="">
            <div class="portfolio-btn bg-secondary opacity-50 d-flex align-items-center justify-content-center">
                <a href="http://nccjos.org/" data-lightbox="portfolio">
                    <fa-icon [icon]="faPlus" class="text-white opacity-25" style="font-size: 50px;"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4 portfolio-item third">
        <div class="position-relative overflow-hidden mb-2">
            <img class="img-fluid rounded w-100" src="/assets/img/portfolio3.png" alt="">
            <div class="portfolio-btn bg-secondary opacity-50 d-flex align-items-center justify-content-center">
                <a href="https://rhmsjos.com/" data-lightbox="portfolio">
                    <fa-icon [icon]="faPlus" class="text-white opacity-25" style="font-size: 50px;"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>