<div class="container-fluid bg-primary text-white mt-5 py-1 px-sm-1 px-md-5">
    <div class="container text-center py-5">
        <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-light btn-social mr-2" href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
            <a class="btn btn-light btn-social mr-2" href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <a class="btn btn-light btn-social mr-2" href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            <a class="btn btn-light btn-social" href="#"><fa-icon [icon]="faGithub"></fa-icon></a>
            <a class="btn btn-light btn-social" href="#"><fa-icon [icon]="faMediumM"></fa-icon></a>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <a class="text-white" href="#">Israel Akintola Oluwafemi</a>
            
        </div>
        <p class="m-0">&copy; <a class="text-white font-weight-bold" href="#"></a>2021. All Rights Reserved. Designed by <a class="text-white font-weight-bold" href="#">Israel</a>
        </p>
    </div>
</div>


<i class="text-white scroll-to-bottom"><fa-icon [icon]="faAngleDown"></fa-icon></i>

   