<div class="container-fluid bg-primary d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
    <div class="container">
        <div class="row align-items-center">
           
            <div class="col-lg-7 text-lg-left">
                <h3 class="text-white font-weight-normal mb-3">Hello, my name</h3>
                <h1 class="display-4 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 3px #ffffff;">{{fullDetails.firstname}} {{fullDetails.lastname}}</h1>
                <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1>
               
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="" class="btn btn-white mr-4">Download CV</a>
                    
                   
                </div>
            </div>
            <div class="col-lg-6 px-8 pl-lg-0 pb-5 pb-lg-4 about-img">
                <img class="img-fluid w-60 rounded-circle shadow-sm" src="/assets/img/profile.png" alt="">
            </div>
        </div>
    </div>
</div>