<div class="container-fluid pt-5" id="service">
    <div class="container">
        <div class="service-h4 position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Service</h1>
            <h1 class="position-absolute text-uppercase text-primary">My Services</h1>
        </div>
        <div class="row pb-3">
            <div class="service-box col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    
                    <i class="service-icon bg-primary text-white mr-3"><fa-icon [icon]="faLaptop"></fa-icon></i>
                    <h4 class="font-weight-bold m-0">Web Development</h4>
                </div>
                <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
            </div>
            <div class="service-box col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    
                    <i class="service-icon bg-primary text-white mr-3"><fa-icon [icon]="faLaptopCode"></fa-icon></i>
                    <h4 class="font-weight-bold m-0">Desktop Application</h4>
                </div>
                <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem</p>
                <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
            </div>
            <div class="service-box col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    
                    <i class="service-icon bg-primary text-white mr-3"><fa-icon [icon]="faAndroid"></fa-icon></i>
                    <h4 class="font-weight-bold m-0">Mobile Application</h4>
                </div>
                <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
            </div>
            <div class="service-box col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    
                    <i class="service-icon bg-primary text-white mr-3"><fa-icon [icon]="faApple"></fa-icon></i>
                    <h4 class="font-weight-bold m-0">Web Services</h4>
                </div>
                <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem Amet lorem lorem</p>
                <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
            </div>
            <div class="service-box col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    
                    <i class="service-icon bg-primary text-white mr-3"><fa-icon [icon]="faSearch"></fa-icon></i>
                    <h4 class="font-weight-bold m-0">SEO</h4>
                </div>
                <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem  </p>
                <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
            </div>
            <div class="service-box col-lg-4  col-md-7 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    
                    <i class="service-icon bg-primary text-white mr-3"><fa-icon [icon]="faEdit"></fa-icon></i>
                    <h4 class="font-weight-bold m-0">Database Management</h4>
                </div>
                <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
            </div>
        </div>
    </div>
</div>