<div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">My Education</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px; font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1"></h5>
                        <p class="mb-2"><strong>Decagon Institute</strong> | <small>2021</small></p>
                        <p>Product Software Engineering</p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Master of Science</h5>
                        <p class="mb-2"><strong>University of Jos</strong> | <small>2019 - 2021</small></p>
                        <p>Analytical Chemistry</p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Bachelor of Science</h5>
                        <p class="mb-2"><strong>University of Port Harcourt</strong> | <small>2011 - 2015</small></p>
                        <p>Pure and Industrial Chemistry</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">My Expericence</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                                                        <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Web Development</h5>
                        <p class="mb-2"><strong>Freelance</strong> | <small> Proficient</small></p>
                        <p class="mb-2">At the heart of solving front-end web development problems, i have carried out the following task;
                            <li class="mb-2">Create multiple websites with great UI/UX designs which includes; portfolio sites, blog sites, educational sites and e-commerce sites.</li>
                            <li class="mb-2">Create nice and interactive front-end of websites and web apps for clients which span from smallscale to large-scale enterprises.</li>
                            <li class="mb-2">Help other web developers and companies to solve front-end problems.</li>
                          </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>